@import url("https://statics.goorm.io/fonts/GoormSansCode/v1.0.0/GoormSansCode.min.css");

body {
  font-family: "Goorm Sans Code", sans-serif;
  font-style: normal;
}

#todo-input {
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  border-bottom: 2px solid gray;
  width: 380px;
  font-size: large;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

li {
  padding-top: 10px;
}

div.todo > label {
  padding-left: 4px;
}

div.controls {
  padding-left: 28px;
  font-size: smaller;
  color: gray;
}

div.controls > a {
  color: gray;
}

#ready-list {

}

#done-list {
  padding: 2px;
}

div.box {
  background-color: lightgrey;
  border-radius: 10px;
}

#done-list label {
  text-decoration: line-through;
}

.link-like {
  cursor: pointer;
}
